<launch>
  <rosparam>
    bluecrescent:
      # Publish all joint states -----------------------------------
      joint_state_controller:
        type: joint_state_controller/JointStateController
        publish_rate: 10.0
  
      # Position Controllers ---------------------------------------
      joint_position_controller:
        type: position_controllers/JointTrajectoryController
        pid: {p: 10.0, i: 0.0, d: 0.0}
        joints: 
          - head_roll
          - head_yaw
      # Position Controllers ---------------------------------------
      #joint_position_controller:
      #  type: position_controllers/JointTrajectoryController
      #  pid: {p: 10.0, i: 0.0, d: 0.0}
      #  joints: 
      #    - arm_shoulder_right_roll
      #    - arm_shoulder_right_pitch
      #    - arm_elbow_right_yaw
      #    - arm_elbow_right_roll
      #    - arm_wrist_right_yaw
      ## Position Controllers ---------------------------------------
      #joint_position_controller:
      #  type: position_controllers/JointTrajectoryController
      #  pid: {p: 10.0, i: 0.0, d: 0.0}
      #  joints: 
      #    - arm_shoulder_left_roll
      #    - arm_shoulder_left_pitch
      #    - arm_elbow_left_yaw
      #    - arm_elbow_left_roll
      #    - arm_wrist_left_yaw
  </rosparam>

  <rosparam>
    bluecrescent/robot_hardware:
    - bluecrescent_hw_head
    - bluecrescent_hw_rarm
    bluecrescent/bluecrescent_hw_head:
      type: bluecrescent_control/BlueCrescent_head
      joints:
      - head_roll
      - head_yaw
    bluecrescent/bluecrescent_hw_rarm:
      type: bluecrescent_control/BlueCrescent_rarm
      joints:
      - arm_shoulder_right_roll
      - arm_shoulder_right_pitch
      - arm_elbow_right_yaw
      - arm_elbow_right_roll
      - arm_wrist_right_yaw
  </rosparam>
  
  <node pkg="combined_robot_hw_tests" type="combined_robot_hw_dummy_app" name="dummy_app" />
  <!--node name="bluecrescent_control" pkg="bluecrescent_control" type="bluecrescent_control" 
        output="screen" ns="/bluecrescent"/ -->


</launch>
